@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');

body {
    color: #FFF1E8;
    font-family: "Press Start 2P", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(placeHolderBG.png);
    background-size: var(--backgroundSize);
    animation: movingBackground 2s linear infinite;
    line-height: 2vh;
}

.dark-mode {
    animation: rgbLolBG 2s linear infinite;
}

:root {
    --backgroundSize: 120px;
}

h3 {
    color: #FFA300;
    font-size: xx-large;
}

h2 {
    color: #FFA300;
    text-shadow: 3px 2px 2px black;
    font-size: 64px;
}

h1 {
    color: #FFEC27;
    font-size: 15vh;
    text-shadow: 3px 2px 2px rgba(251, 12, 12, 1), 0px -1px 3px rgba(12, 79, 251, .5), -3px 0px 2px rgba(52, 251, 12, 1);
    animation: chromaticMove 5s ease infinite, pulse 1s ease infinite;

}

h4 {
    color: #FFEC27;
    text-shadow: 3px 2px 2px black;

}

h1#name {
    text-decoration: none;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: underline;
    color: white;
}

#mainBody {
    width: 90%;
    height: 92vh;
    border: 10px solid #29ADFF;
    padding: 2vh;
    margin-left: 7vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#mainMenu {
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 13em;
}

#Start {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    font-family: "Press Start 2P", sans-serif;
    font-size: xx-large;
    background-color: transparent;
    border-color: transparent;
    color: white;
    margin: 5vh;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
}

#content {
    display: flex;
    flex-direction: column;
    margin: 5vh;
}

#ghettoHeader {
    position: fixed;
    top: 0;
    width: 25%;
}

header {
    align-self: center;
    font-size: xx-large;
    color: red;
}

a:hover {
    transform: scale(1.2);
}

#About {
    display: flex;
    flex-direction: column;
    font-size: large;
    line-height: 4em;
}

#myWork {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex;
    flex-flow: wrap;
    width: 75%;
    margin-left: 20%;
    flex-grow: 1;
}

#myWork>header {
flex-grow: 8;
}

@keyframes rgbLol {
    0% {
        color: rgb(142, 199, 255);
        border-color: rgb(255, 132, 132);
        background-color: rgb(139, 255, 145);
    }

    33% {
        color: rgb(255, 132, 132);
        border-color: rgb(139, 255, 145);
        background-color: rgb(142, 199, 255);
    }

    66% {
        color: rgb(139, 255, 145);
        border-color: rgb(142, 199, 255);
        background-color: rgb(255, 132, 132);
    }

    100% {
        color: rgb(142, 199, 255);
        border-color: rgb(255, 132, 132);
        background-color: rgb(139, 255, 145);
    }
}

@keyframes rgbLolBG {
    0% {
        background-position: 0 0;
        background-color: rgb(139, 255, 145);
    }

    33% {
        background-color: rgb(142, 199, 255);
    }

    66% {
        background-color: rgb(255, 132, 132);
    }

    100% {
        background-position: var(--backgroundSize) var(--backgroundSize);
        background-color: rgb(139, 255, 145);
    }
}

@keyframes gradientMove {
    0% {
        background-size: 100% 4px
    }

    50% {
        background-size: 100% 2px
    }

    100% {
        background-size: 100% 4px
    }
}

@keyframes pulse {
    0% {
        opacity: .9;
        transform: skewX(.5deg);
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: .9;
    }

    75% {
        opacity: 1;
        transform: skewX(.5deg);
    }

    100% {
        opacity: .9;
    }
}

@keyframes chromaticMove {
    0% {
        text-shadow: 3px 2px 2px rgba(251, 12, 12, 1), 0px -1px 3px rgba(12, 79, 251, .5), 0px 0px -2px rgba(52, 251, 12, 1);
    }

    50% {
        text-shadow: 3px 2px 2px rgba(251, 12, 12, 1), 0px -1px 3px rgba(12, 79, 251, .5), -3px 2px 3px rgba(52, 251, 12, 1);
    }

    100% {
        text-shadow: 3px 2px 2px rgba(251, 12, 12, 1), 0px -1px 3px rgba(12, 79, 251, .5), 2px -1px 2px rgba(52, 251, 12, 1);
    }
}

@keyframes movingBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: var(--backgroundSize) var(--backgroundSize);
    }
}