@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');

body {
    color: #FFF1E8;
    font-family: "Press Start 2P", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(placeHolderBG.png);
    background-size: var(--backgroundSize);
    animation: movingBackground 2s linear infinite;
    line-height: 2vh;
    transition: transform 0.3s ease;
}

:root {
    --backgroundSize: 120px;
}

p {
    text-shadow: 2px 2px 2px black;
}

button {
    text-shadow: 3px 2px 2px black;
}

button:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.infoBtn:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

h3 {
    color: #FFA300;
    font-size: xx-large;
    text-shadow: 3px 2px 2px black;
}

h2 {
    color: #FFA300;
    text-shadow: 3px 2px 2px black;
    font-size: 64px;
}

h1 {
    color: #FFEC27;
    font-size: 15vh;
    text-shadow: 3px 2px 2px rgba(251, 12, 12, 1), 0px -1px 3px rgba(12, 79, 251, .5), -3px 0px 2px rgba(52, 251, 12, 1);
    animation: chromaticMove 5s ease infinite, pulse 1s ease infinite;

}

h4 {
    color: #FFEC27;
    text-shadow: 3px 2px 2px black;

}

h1#name {
    text-decoration: none;
}

#ballSack {
    position: fixed;
    top: 0;
    right: 3em;
    font-size: x-large;
    color: #FFEC27;
    animation: rgbLol 1s infinite;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: underline;
    color: white;
}

#mainBody {
    width: 90%;
    height: 92vh;
    border: 10px solid black;
    padding: 2vh;
    margin-left: 7vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#mainMenu {
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 13em;
}

#Start {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    font-family: "Press Start 2P", sans-serif;
    font-size: xx-large;
    background-color: transparent;
    border-color: transparent;
    color: white;
    margin: 5vh;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 6vh;
}

#ghettoHeader {
    position: fixed;
    top: 0;
    width: 25%;
}

header {
    align-self: center;
    font-size: xx-large;
    color: rgb(255, 255, 255);
}

a:hover {
    transform: scale(1.2);
}

#About {
    display: flex;
    flex-direction: column;
    font-size: large;
    line-height: 4em;
    padding: 5em;
}

#myWork {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    margin-bottom: 4em;
    border: 10px solid #AB5236;
    background-color: black;
}

.work {
    margin: 2em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-flow: wrap;
}

.cert:hover {
    border-color: transparent;
    box-shadow: 0 0 0 2px white;
    transform: scale(1.1);
    transition: 0.5s;
}

.calc:hover {
    border-color: transparent;
    box-shadow: 0 0 0 2px white;
    transform: scale(1.1);
    transition: 0.5s;
}

.show:hover {
    border-color: transparent;
    box-shadow: 0 0 0 2px white;
    transform: scale(1.1);
    transition: 0.5s;
}

.vim:hover {
    border-color: transparent;
    box-shadow: 0 0 0 2px white;
    transform: scale(1.1);
    transition: 0.5s;
}

.doss:hover {
    border-color: transparent;
    box-shadow: 0 0 0 2px white;
    transform: scale(1.1);
    transition: 0.5s;
}

.bad:hover {
    border-color: transparent;
    box-shadow: 0 0 0 2px white;
    transform: scale(1.1);
    transition: 0.5s;
}

.crab:hover {
    border-color: transparent;
    box-shadow: 0 0 0 2px white;
    transform: scale(1.1);
    transition: 0.5s;
}

.mine:hover {
    border-color: transparent;
    box-shadow: 0 0 0 2px white;
    transform: scale(1.1);
    transition: 0.5s;
}

#infoShit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    margin-left: 43vh;
    border: 10px solid #AB5236;
    background-color: black;
}

.backBtn {
    position: fixed;
    bottom: 0;
    left: 5em;
}

.hdr {
    position: fixed;
    top: 8em;
    left: 44.5%;
}

.hdr2 {
    position: fixed;
    top: 6em;
    left: 44.5%;
}

#overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#popup {
    background-color: rgba(0, 0, 0);
    padding: 20px;
    border: #AB5236 10px solid;
}

#closeBtn {
    position: fixed;
    left: 38%;
    bottom: 1.5%;
    font-size: x-large;
    background-color: black;
    border: #AB5236 10px solid;
    padding: 10px;
}

.tutorial {
    position: relative;
    left: 25%;
}


@keyframes rgbLol {
    0% {
        text-shadow: 2px 2px 2px rgb(255, 132, 132);
    }

    33% {
        text-shadow: 2px 2px 2px rgb(139, 255, 145);
    }

    66% {
        text-shadow: 2px 2px 2px rgb(142, 199, 255);
    }

    100% {
        text-shadow: 2px 2px 2px rgb(255, 132, 132);
    }
}

@keyframes rgbLolBG {
    0% {
        background-position: 0 0;
        background-color: rgb(139, 255, 145);
    }

    33% {
        background-color: rgb(142, 199, 255);
    }

    66% {
        background-color: rgb(255, 132, 132);
    }

    100% {
        background-position: var(--backgroundSize) var(--backgroundSize);
        background-color: rgb(139, 255, 145);
    }
}

@keyframes gradientMove {
    0% {
        background-size: 100% 4px
    }

    50% {
        background-size: 100% 2px
    }

    100% {
        background-size: 100% 4px
    }
}

@keyframes pulse {
    0% {
        opacity: .9;
        transform: skewX(.5deg);
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: .9;
    }

    75% {
        opacity: 1;
        transform: skewX(.5deg);
    }

    100% {
        opacity: .9;
    }
}

@keyframes chromaticMove {
    0% {
        text-shadow: 3px 2px 2px rgba(251, 12, 12, 1), 0px -1px 3px rgba(12, 79, 251, .5), 0px 0px -2px rgba(52, 251, 12, 1);
    }

    50% {
        text-shadow: 3px 2px 2px rgba(251, 12, 12, 1), 0px -1px 3px rgba(12, 79, 251, .5), -3px 2px 3px rgba(52, 251, 12, 1);
    }

    100% {
        text-shadow: 3px 2px 2px rgba(251, 12, 12, 1), 0px -1px 3px rgba(12, 79, 251, .5), 2px -1px 2px rgba(52, 251, 12, 1);
    }
}

@keyframes movingBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: var(--backgroundSize) var(--backgroundSize);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}