@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');

body {
    color: #FFF1E8;
    font-family: "Press Start 2P", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(placeHolderBG.png);
    background-size: var(--backgroundSize);
    animation: movingBackground 2s linear infinite;
    line-height: 2vh;
}

:root {
    --backgroundSize: 120px;
}

@keyframes movingBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: var(--backgroundSize) var(--backgroundSize);
    }
}

p {
    color: #ffffff;
    font-size: 3vh;
    text-wrap: wrap;
}

h3 {
    color: #FFEC27;
    color: #FFA300;
}

h1 {
    color: #FFEC27;
    font-size: 15vh;
    text-shadow: 3px 2px 2px rgba(251, 12, 12, 1), 0px -1px 3px rgba(12, 79, 251, .5), -3px 0px 2px rgba(52, 251, 12, 1);
    animation: chromaticMove 4500ms ease infinite, pulse ease 200ms infinite;

}

@keyframes gradientMove {
    0% {
        background-size: 100% 4px
    }

    50% {
        background-size: 100% 2px
    }

    100% {
        background-size: 100% 4px
    }
}

@keyframes pulse {
    0% {
        opacity: .9;
        transform: skewX(.5deg);
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: .9;
    }

    75% {
        opacity: 1;
        transform: skewX(.5deg);
    }

    100% {
        opacity: .9;
    }
}

@keyframes chromaticMove {
    0% {
        text-shadow: 3px 2px 2px rgba(251, 12, 12, 1), 0px -1px 3px rgba(12, 79, 251, .5), 0px 0px -2px rgba(52, 251, 12, 1);
    }

    50% {
        text-shadow: 3px 2px 2px rgba(251, 12, 12, 1), 0px -1px 3px rgba(12, 79, 251, .5), -3px 2px 3px rgba(52, 251, 12, 1);
    }

    100% {
        text-shadow: 3px 2px 2px rgba(251, 12, 12, 1), 0px -1px 3px rgba(12, 79, 251, .5), 2px -1px 2px rgba(52, 251, 12, 1);
    }
}

a {
    text-decoration: none;
    color: rgb(170, 170, 170);
}

a:hover {
    text-decoration: underline;
    color: white;
}

#mainBody {
    width: 90%;
    height: 90vh;
    border: 10px solid #29ADFF;
    margin: 1vh;
    padding: 2vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#musicBtn {
    font-family: "Press Start 2P", sans-serif;
    color: rgb(255, 255, 255);
    border: 5px solid #29ADFF;
    background-color: black;
}

#musicBtn:hover {
    animation: rgbLol 0.33s infinite;
}

@keyframes rgbLol {
    0% {
        color: rgb(142, 199, 255);
        border-color: rgb(255, 132, 132);
        background-color: rgb(139, 255, 145);
    }

    33% {
        color: rgb(255, 132, 132);
        border-color: rgb(139, 255, 145);
        background-color: rgb(142, 199, 255);
    }

    66% {
        color: rgb(139, 255, 145);
        border-color: rgb(142, 199, 255);
        background-color: rgb(255, 132, 132);
    }

    100% {
        color: rgb(142, 199, 255);
        border-color: rgb(255, 132, 132);
        background-color: rgb(139, 255, 145);
    }
}

#myAudio {
    display: none;
}